:root {
	--color-primary: #f00;
	--color-secondary: #999;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: 'Fira Code', monospace;
	font-size: 10px;
	background-color: white;
	margin: 0;
	padding: 0;
}
.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	margin: 1em;
	border: 3px double var(--color-secondary);
}
input[readonly] {
	background-color: var(--color-secondary);
	border: 3px double var(--color-secondary);
}
btn {
	margin: 1em;
	border: 3px double var(--color-secondary);
}
h3 {
	letter-spacing: 0.2em;
}
.btn {
	background-color: var(--color-secondary);
	border: 3px double var(--color-secondary);
}
.btn:hover {
	background-color: var(--color-primary);
	border: 3px double var(--color-primary);
	transition: background-color 0.5s ease-in-out;
}
.cols {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
